* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    position: absolute;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    z-index: 1;
}

canvas {
    position: absolute;
    user-select: none;
	touch-action: none;
}

#wordlePopup {
    background-color: rgb(26, 25, 25);
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-rows: .1fr .65fr .25fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "timer"
    "wordContainer"
    "buttons"
    ;
    z-index: 2;
}

#resultPopup {
    background-color: rgb(26, 25, 25);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-rows: .1fr .65fr .25fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "topButtons"
    "wordContainer"
    "buttons"
    ;
    z-index: 2;
}

#resultText {
    color: white;
    font-size: xx-large;
}

#solutionText {
    color: white;
    font-size: xx-large;
}

#submit {
    background-color: green;
    border-color: green;
    width: 200px;
    height: 75px;
    margin-inline: auto;
}

#gameContainer {
    max-height: fit-content;
    max-width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

#timer {
    grid-area: timer;
    color: white;
    text-align: center;
    margin: 30px;
    font-size: xx-large;
}

#resultContainer {
    max-height: fit-content;
    max-width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#resultContainer p {
    margin: 10px;
}

.wordContainer {
    max-height: fit-content;
    max-width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.letter {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    text-align: center;
    caret-color: transparent;
}

#wordlePopup a {
    color: white;
    text-decoration: none;
}

#exit {
    grid-area: topButtons;
    place-self: start end;
    width: 50px;
    height: 50px;
    margin: 5px;
    color: white;
    background-color: darkred;
}
