* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    position: absolute;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    z-index: 1;
}

canvas {
    position: absolute;
    user-select: none;
	touch-action: none;
}

#wordlePopup {
    background-color: rgb(26, 25, 25);
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-rows: .1fr .65fr .25fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "timer"
    "wordContainer"
    "buttons"
    ;
    z-index: 2;
}

#resultPopup {
    background-color: rgb(26, 25, 25);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-rows: .1fr .65fr .25fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "topButtons"
    "wordContainer"
    "buttons"
    ;
    z-index: 2;
}

#leaderboardPopup, #loginPopup, #signupPopup {
    background-color: rgb(26, 25, 25);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#error {
    display: none;
    font-size: x-large;
    margin: 5px;
}

#signupPopup {
    z-index: 3;
}

#leaderboardContainer, #loginContainer, #signupContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
}

#leaderboardContainer {
    margin-bottom: 100px;
}

#days {
    margin: 10px;
}

#days button {
    margin: 5px;

}

#lb {
    border: 1px solid rgp(25, 25, 25);
    background-color: rgb(16, 16, 22);
    border-collapse: collapse;
    margin: 10px;
    width: 60vw;
}

#leaderboardContainer h1 {
    margin-bottom: 50px;
}

#lb th {
    background-color: rgb(23, 23, 23);
    color: rgb(216, 200, 145);
}

#lb tr {
    color: rgb(146, 125, 96);
}

#pageUp, #pageDown {
    margin-top: 20px;
    border-radius: 99rem;
    width: 100px;
    height: 40px;
}

#signupPopup label {
    font-size: x-large;
}

#signupPopup input {
    max-width: 150px;
    font-size: large;
    margin: 10px;
}

#signupPopup button {
    max-width: 150px;
    font-size: x-large;
    margin: 10px;
}

#loginPopup label {
    font-size: x-large;
}

#loginPopup input {
    max-width: 150px;
    font-size: large;
    margin: 10px;
}

#loginPopup button {
    max-width: 150px;
    font-size: x-large;
    margin: 10px;
}

#resultText {
    color: white;
    font-size: xx-large;
}

#solutionText {
    color: white;
    font-size: xx-large;
}

#submit {
    background-color: green;
    border-color: green;
    width: 200px;
    height: 75px;
    margin-inline: auto;
}

#gameContainer {
    max-height: fit-content;
    max-width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

#timer {
    grid-area: timer;
    color: white;
    text-align: center;
    margin: 30px;
    font-size: xx-large;
}

#resultContainer {
    max-height: fit-content;
    max-width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#resultContainer p {
    margin: 10px;
}

.wordContainer {
    max-height: fit-content;
    max-width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.letter {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    text-align: center;
    caret-color: transparent;
}

#wordlePopup a {
    color: white;
    text-decoration: none;
}

#exit {
    grid-area: topButtons;
    place-self: start end;
    width: 50px;
    height: 50px;
    margin: 5px;
    color: white;
    background-color: darkred;
}

#chat-container {
    position: absolute;
    bottom: 10px;
    left: 10px; 
    z-index: 2;
}

#chatbox {
    z-index: 2;
}
